<div class="container">
	<p class="text-center">
		<%= link_to "Recevoir un email", emails_path, method: :post, remote: true, class:"btn btn-primary" %>
	</p>
	<div class="row">
		<div class="col-md-3 border" id="emails">
			<% @emails.each do |email| %>
				<p class="email" id="email-<%= email.id %>">
	
					<%= link_to email.object, email_path(email), remote: true %>
				</p>
			<% end %>
		</div>
		<div class="col-md-9 border" id="body">
			
		</div>
	</div>
</div>